.contacts{
    font-family: "Oswald";
    margin-top: 100px;
    font-weight: 500;
    text-align: center;
}
.contact__title{
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
}
.contact__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 46px 150px 58px;
}
.content__box{
    max-width: 350px;
    background: #F7F7F7;
    text-align: center;
    box-sizing: border-box;
    font-size: 24px;
}
.contact__subtitle{
    color: #999999;
    margin-bottom: 25px;
}
.contact__suptitle{
    align-items: center;
}
.contact__subtitle2{
    align-items: center;
}
