.reviews{
    font-family: "Oswald";
    margin-top: 150px;
}
.review__box{
    width: 350px;
    background: #F7F7F7;
    padding: 50px 30px 50px 30px;
    box-sizing: border-box;
}
.review__title{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 64px;
}
.review__content{
    display: flex;
    padding: 0 3px ;
    justify-content: space-around;
    height: 259px;
}
.review__names{
    display: flex;
}
.review__name1{
    padding: 0 6px 0 0;
}
.review__name2{
    color: #F7654A;
}
.review__description{
    color: #999999;
}